/* DEFAULT MOBILE STYLES */
/* General */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');

body {
  margin: 0;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  animation: masonry 1s ease-in-out;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

.wrapper {
  width: 100%;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 30px 0;
}

.item-info {
  width: 100%;
  margin-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

p {
  padding-bottom: 10px;
}

a,
a:visited {
  text-decoration: none;
  color: #2288a3;
  cursor: pointer;
}

.upper-header {
  color: #fff;
  font-size: 4em;
  position: relative;
}

/* Navigation */
div.home.header {
  background-color: rgba(0,0,0,0);
}

header {
  background-image: url('../assets/TaylorACox-Jumbotron.png');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .6;
}

.header {
  background-color: #16120c;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  animation: masonry 1s ease-in-out;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.logo-container {
  width: 40%;
}

.logo {
  width: 80%;
  padding: 20px;
  cursor: pointer;
}

nav {
  width: 70%;
  display: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding: 30px;
  text-transform: uppercase;
  position: relative;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: 400;
}

nav li a:visited {
  color: #fff;
}

nav ul li a:hover {
  cursor: pointer;
}

nav li a {
  position: relative;
  padding-bottom: 8px;
}

nav li a:before,
nav li a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2288a3;
}

nav li a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

nav li a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

nav li a:hover:before,
nav li a:hover:after,
nav li a:focus:before,
nav li a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

nav li a:hover:before,
nav li a:focus:before {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

nav li a:hover:after,
nav li a:focus:after {
  -webkit-transition: -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

.mobile-btn {
  display: block;
  color: #fff;
  font-size: 3em;
  padding: 20px;
  cursor: pointer;
}

.mobile-nav {
  display: block;
  text-align: right;
}

.mobile-nav-menu {
  display: none;
}

.mobile-nav-show {
  display: block;
  background-color: rgba(0,0,0,.9);
  color: #fff;
  text-align: center;
  position: absolute;
  right: 0px;
  top: -15px;
  width: 100%;
  padding: 250px 0;
  animation: masonry .5s ease-in-out;
  z-index: -1;
}

.mobile-nav-show li {
  margin-bottom: 15px;
}

/* Masonry */
.images-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.masonry {
  column-count: 1;
  column-gap: 1em;
}

.masonry-two {
  column-count: 1;
  column-gap: 1em;
}

.masonry-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.masonry-flex .item {
  width: 100%;
  height: 100%;
}

.item {
  display: inline-block;
  padding: 0 0 10px 0;
  width: 100%;
  height: auto;
}

/* Item Info */
.info-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-col {
  width: 100%;
}

.project-col .btn {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.summary-col {
  width: 100%;
}

#project-heading {
  border-bottom: 3px solid #16120c;
  padding-bottom: 5px;
}

/* Buttons */
.buttons-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: #16120c;
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  text-decoration: none;
  margin: 50px 0 10px;
}

.btn:visited {
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.project-col .btn {
  margin: 20px 0 40px;
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2288a3;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Footer */
.footer {
  width: 100%;
  background-color: #16120c;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-main {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer-logo {
  width: 30%;
  opacity: .3;
}

.footer-main nav a {
  font-weight: 300;
  font-size: 14px;
}

.footer-main nav ul {
  padding: 0;
  flex-direction: column;
}

.footer-secondary {
  width: 100%;
  background-color: #121212;
}

.footer-secondary-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0px auto;
  padding: 20px 0;
}

.social-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.social-icons .fa {
  font-size: 1.3em;
  padding: 10px;
  color: #fff;
}

.social-icons .fa:hover {
  opacity: .3;
  -webkit-transition: ease-in-out opacity .4s;
  transition: ease-in-out opacity .4s;
}

.footer-secondary-info p {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

/* About */

.about h1 {
  font-weight: 700;
  text-transform: none;
  font-size: 3em;
  color: #fff;
  padding: 100px 0 100px 50px;
}

.languages {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0px auto;
}

.languages h2 {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.language-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.languages img {
  height: 25%;
  width: 25%;
}

.current {
  text-align: center;
  font-style: italic;
  margin: 0px auto;
  padding: 0 0 20px 0;
}

.about {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.scroller {
  width: 80%;
  z-index: 0;
}

/* Resume */
.resume {
  background-color: #fff;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0px auto;
  font-weight: 300;
}

.resume ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resume h2 {
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 5px 0;
  font-weight: 700;
}

.resume h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.resume h4 {
  margin-top: 20px;
  letter-spacing: 1px;
}

.profile {
  width: 100%;
}

.profile p {
  width: 80%;
  margin: 0px auto;
  text-align: justify;
  padding-bottom: 30px;
}

.left-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experience li {
  margin-bottom: 5px;
}

.experience ul {
  padding-bottom: 10px;
}

.left-col ul {
  margin-bottom: 20px;
}

.left-col h3,
.left-col h4,
.left-col ul,
.left-col p,
.right-col h3,
.right-col h4,
.right-col ul,
.right-col p {
  padding: 0 20px;
}

.right-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.awards-certifications {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.awards-certifications h2 {
  width: 100%;
}

.awards-certifications .left-col,
.awards-certifications .right-col {
  width: 100%;
  border: none;
  padding-bottom: 20px;,
}

/* Project Section */
section {
  padding: 30px 0;
  margin: 0px auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}

section a {
  color: inherit;
}

section h2 {
  width: 100%;
  padding-bottom: 25px;
  text-align: center;
  font-size: 3em;
  letter-spacing: 6px;
}

section p {
  text-align: center;
  letter-spacing: 1px;
}

section h6 {
  text-align: center;
  padding-top: 10px;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.portfolio-item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100% - 15px);
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0,0,0,.4);
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  width: 80%;
  font-size: 1.3em;;
  position: absolute;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 3px;
}

.text span {
  font-size: .8em;
  display: block;
  font-weight: 300;
}

/* About */


/* Animations */
@keyframes masonry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* TABLET STYLES */
@media ( min-width: 600px ) {
  /* General */
  .logo-container {
    width: 30%;
  }
  .masonry {
    column-count: 2;
  }

  .masonry-two {
    column-count: 2;
  }

  .buttons-row {
    flex-direction: row;
  }

  .masonry-flex .item {
    width: 48%;
    height: 48%;
  }

  .languages {
    flex-direction: row;
  }

  .languages h2 {
    border-right: 1px solid #121212;
    margin-right: 40px;
    width: 30%;
    text-align: left;
  }

  .languages img {
    height: 10%;
    width: 10%;
  }

  .footer-secondary-info {
    flex-direction: row;
  }

  .social-icons {
    width: 30%;
  }

  .footer-main {
    width: 80%;
    flex-direction: row;
    text-align: left;
  }

  .footer-main nav ul {
    padding: 0;
    flex-direction: row;
  }

  .about h1 {
    font-size: 4em;
  }

  .scroller {
    width: 50%;
  }

  header:before {
    background-color: transparent;
  }

  .profile p {
    width: 50%;
  }

  .logo {
    width: 50%;
  }
}

/* DESKTOP STYLES */
@media ( min-width: 1000px ) {
  /* General */
  .masonry {
    column-count: 3;
  }

  .info-row {
    flex-direction: row;
  }

  .project-col {
    width: 30%;
  }

  .project-col .btn {
    margin-bottom: 10px;
    width: 70%;
    text-align: center;
  }

  .summary-col {
    width: 60%;
  }

  .left-col {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-right: 1px solid #000;
  }

  .right-col {
    width: 69%;
  }

  .awards-certifications .left-col,
  .awards-certifications .right-col {
    width: 45%;
  }

  .mobile-nav {
    display: none;
  }

  nav {
    display: block;
  }

  .logo {
    width: 40%;
  }
}
